@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter Tight", sans-serif;
}

header {
    width: 80%;
    margin: auto;
}

nav {
    margin-top: 30px;
}

ul {
    display: flex;
    margin: auto;
    width: 35%;
    justify-content: center;
    background-color: #2e2e2e;
    border-radius: 14px;
}

ul li {
    list-style: none;
    margin: 16px;
}

ul li a {
    text-decoration: none;
    color: #fff;
    font-size: smaller;
    font-weight: bold;
}

/* HOME */

.home {
    width: 80%;
    margin: auto;
    /* background-color: aquamarine; */
    margin-top: 100px;
}

.home-container1 .judul1{
    margin: auto;
    display: flex;
    justify-content: center;
    /* background-color: blueviolet; */
    margin-top: 10px;
}

.home-container1 h1 {
    text-align: center;
    font-size: 80px;
}    

.home-container1 h1 span {
    color: #616F39;
}    

.home-container1 img {
    width: 100px;
    height: 80px;
    border-radius: 50px;
    border: 6px solid #2e2e2e;
    margin-left: 20px;
    margin-right: 20px;
}


