@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: "Inter Tight", sans-serif;
}

nav {
    width: 25%;
    margin: auto;
    background-color: blueviolet;
    border: 2px solid black;
    border-radius: 14px;
    margin-top: 30px;
}

ul {
    display: flex;
    margin: auto;
    width: fit-content;
    /* background-color: blue; */
}

ul li {
    list-style: none;
    margin: 14px;
}

ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: smaller;
    font-weight: bold;
}